<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" shutdownHook="disable">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{%level{length=1}[%d{HH:mm:ss,SSS}] [%t]%logger{0}:} %msg%n"/>
        </Console>

        <File name="MyFile" fileName="${sys:logFilename}.log" append="false" immediateFlush="true">
            <PatternLayout pattern="%highlight{%level{length=1}[%d{HH:mm:ss,SSS}] [%t]%logger{0}:} %msg%n"/>
        </File>

    </Appenders>

    <Loggers>
        <Logger level="info" name="asd"/>

        <Logger level="warn" name="io.netty"/>
        <Logger level="warn" name="network"/>
        <Logger level="warn" name="channel"/>
        <Logger level="warn" name="babel"/>

        <Root level="info">
            <AppenderRef ref="Console" level="all"/>
            <AppenderRef ref="MyFile" level="warn"/>
        </Root>
    </Loggers>

</Configuration>
